body{
        background-color: rgb(244, 249, 253);
}
.eleveAdminTable {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background: white;
    text-align: center;
    margin-top: 10%;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }

  .form-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  .form-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    width: 10%;
    padding: 0px;
    background-color: rgb(22, 55, 103);
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: rgb(22, 55, 103);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #e6f2ffc7;
  }
  .actions{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  